<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/static/style.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>

<body>
  <div class="container">
    <h1>My Blog</h1>
    <a id="newPostBtn" href="/new">New Post</a>
    <ul id="postsList">
      <% if(locals.data){ %><li>
      <% data.forEach((element,index) => {%>
        <h2>
          <%=element.title%>
          </h2>
          <small>
            <%=element.time%> 
            </small>
            <p>
              <%=element.description%>
              </p>
              <small>By <%= element.author%> </small>
            <a name="edit<%= index %>" class="edit" href="/edit">Edit</a>
            <a name="delete<%= index %>" class="delete" href="/delete">Delete</a>
            <%});%>
            <%} %>
            </ul>
  </div>

</body>

</html>