
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="https://blog-app-rosy-three.vercel.app/static/style.css">
</head>

<body>
  <div class="container">
    <h1>My Blog</h1>
    <a id="newPostBtn" href="/new">New Post</a>
    <ul id="postsList">
      <!-- If there is data then this page will be rendered -->
      <% if(locals.data){ %>
        <li>
          <% data.forEach((element)=> {%>
            <h2>
              <%=element.title%>
            </h2>
            <small>
              <%=element.crdate%>
            </small>
            <p>
              <%=element.description%>
            </p>
            <small>By <%= element.author%> </small>
            <% if (user=="admin") { %>
              <a class="edit" href="/edit/<%= element.id %>">Edit</a>
              <a class="delete" href="/delete/<%= element.id %>">Delete</a>
              <% } %>
                <%});%>
                  <%} %>
    </ul>
  </div>

</body>

</html>